@model RentalVehicleService.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentStationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentStationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPluggedIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPluggedIn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VehicleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
